body{
  color: gray;
  background: white;
}


.react-root {
  display: flex;
  justify-content: center;
}
/**************
  Components
**************/

// Component name
// .comp-name {
//   ...
// }
